/*font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Baloo Tamma 2', cursive;
font-family: 'Baloo Bhaina 2', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@wght@400;500;600;700&display=swap");

* {
    font-family: "Baloo Bhaina 2", cursive;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

#navbar .navbar {
    height: 80px;
}

#navbar .navbar a.navbar-brand img {
    height: 60px;
}

nav,
.nav {
    background-color: #fff;
}

.search {
    position: relative;
    display: inline-block;
    color: black;
    padding: 14px 16px;
    outline: none;
}
.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
}
input[type="text"] {
    width: 120px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid #866526;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}

.btn-search {
    outline: none;
    border: none;
    background-color: transparent;
}

.search:hover {
    background-color: white;
    color: black;
}
.search:hover .search-bar {
    display: block;
}
form input[type="text"]:focus {
    width: 200px;
    background-color: white;
}

/* Content1 */
#slide #slide-show {
    background-position: center center;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s;
}

#slide #slide-show {
    transition: 0.3s;
}

.category {
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.category:hover {
    outline: rgba(85, 85, 85, 0.2) 0.01rem solid;
}

.dfgiua {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talc {
    text-align: center;
}
.mg0a {
    margin: 0 auto;
}
.pdt10 {
    padding-top: 10px;
}

#footer {
    background-color: rgb(235, 235, 235);
    padding-bottom: 30px;
}

#footer .logo img {
    height: 80px;
}
